@import url('https://fonts.googleapis.com/css?family=Barriecito|Do+Hyeon&display=swap');

/*
    Fonts used:
    font-family: 'Barriecito', cursive;
    font-family: 'Do Hyeon', sans-serif;
*/

body {
    background-color: black;
    color: white;
    font-size: 16px;
    font-family: 'Do Hyeon', sans-serif;
}

h1, h2, h3 {
    font-family: 'Barriecito', cursive;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 1.75em;
}

h3 {
    font-size: 1.5em;
}

p  {


}

#text-intro {
    background-color: grey;
    color: red;
    border-style: solid;
    border-width: 2px 3px;
    padding-top: 30px;
    padding-right: 10px;
    padding-bottom: 30px;
  padding-left: 10px;
    border-color: red;
}

#section-about {
    background-color: black;
    border-style: solid;
    border-width: 1px;
    border-spacing: 5px;
    padding-top: 5px;
    padding-right: 3px;
    padding-bottom: 5px;
    padding-left: 3px;
    border-color: red;
}



.album-art {
    border: 2px;
    margin-right: 2em;
    margin-top: 2em;
    padding: 1em;
    width: 96px;

}

.clear {
    clear: both;
}

.image-electronics, .image-stage-effects {
   
}

.record-label {
    color: red;

}

.track-list {

}

#about-photo {
    border: double red;
    margin-top: 1em;
    margin-right: 1em;
    padding: 1em;
    width: 240px;
    

}


#copyright {

}

#section-about, #section-discography, #section-equipment {
    border-style: solid;
    border-width: 1px;
    border-spacing: 5px;
    padding-top: 5px;
    padding-right: 3px;
    padding-bottom: 5px;
    padding-left: 3px;
    border-color: red;

}

#text-intro {
   
}
